{{!-- Testing out Google Maps Library--}}
<header>
  <h1 class="coffee">{{title}}</h1>
  <span class="flex"></span>
</header>

{{#g-map lat=latitude lng=longitude zoom=12 styles=darkStyle as |g|}}
  {{g.marker
     lat=latitude
     lng=longitude}}
{{/g-map}}

{{outlet}}
